[package]
name = "core-crypto-ffi"
description = "Platform-specific bindings (Android, iOS, WASM) for CoreCrypto"
repository = "https://github.com/wireapp/core-crypto"
version = "0.2.0"
edition = "2021"
license = "GPL-3.0-only"

[lib]
name = "core_crypto_ffi"
crate-type = ["cdylib", "staticlib"]

[features]
default = []
mobile = ["uniffi", "uniffi_macros", "uniffi_build", "uniffi_bindgen"]
c-api = ["libc"]

[dependencies]
core-crypto = { version = "0.2", path = "../crypto" }
thiserror = "1.0"
cfg-if = "1.0"

# UniFFI - Android + iOS bindings - Runtime support
uniffi = { version = "0.19", optional = true }
uniffi_macros = { version = "0.18", optional = true }

# C-API support
libc = { version = "0.2", optional = true }

[target.wasm32-unknown-unknown.dependencies]
wasm-bindgen = "0.2"
serde-wasm-bindgen = "0.4"
serde = { version = "1.0", features = ["derive"] }
wee_alloc = "0.4"
js-sys = "0.3"

[build-dependencies]
# UniFFI - Android + iOS bindings - Build support
uniffi_build = { version = "0.18", features = ["builtin-bindgen"], optional = true }
uniffi_bindgen = { version = "0.18", optional = true }

[target.wasm32-unknown-unknown.dev-dependencies]
wasm-bindgen-test = "0.3"

[package.metadata.wasm-pack.profile.release]
wasm-opt = ["-Os", "--enable-mutable-globals", "--enable-threads", "--detect-features"]
