[package]
name = "core-crypto-ffi"
description = "Platform-specific bindings (Android, iOS, WASM) for CoreCrypto"
repository = "https://github.com/wireapp/core-crypto"
version = "0.4.2"
edition = "2021"
license = "GPL-3.0-only"
publish = false

[lib]
name = "core_crypto_ffi"
crate-type = ["cdylib", "staticlib"]

[features]
default = []
mobile = ["uniffi", "uniffi_macros", "uniffi_build", "uniffi_bindgen"]
# c-api = ["libc"] # FIXME: Disabled until it becomes compatible with the internal APIs again

[dependencies]
core-crypto = { version = "0.4", path = "../crypto" }
thiserror = "1.0"
cfg-if = "1.0"
futures-util = "0.3"

# UniFFI - Android + iOS bindings - Runtime support
uniffi = { version = "=0.19.6", optional = true }
uniffi_macros = { version = "=0.19.3", optional = true }

# C-API support
libc = { version = "0.2", optional = true }

# see https://github.com/RustCrypto/hashes/issues/404
[target.'cfg(not(any(target_arch = "aarch64", target_arch = "x86_64", target_arch = "x86")))'.dependencies]
sha2 = { version = "0.10", features = ["force-soft"] }

# Blocking APIs support
[target.'cfg(not(target_family = "wasm"))'.dependencies]
futures-lite = "1.12"
async-executor = "1.4"

[target.wasm32-unknown-unknown.dependencies]
wasm-bindgen = "0.2"
wasm-bindgen-futures = "0.4"
async-lock = "2.5"
serde-wasm-bindgen = "0.4"
serde = { version = "1.0", features = ["derive"] }
wee_alloc = "0.4"
js-sys = "0.3"

[build-dependencies]
# UniFFI - Android + iOS bindings - Build support
uniffi_build = { version = "0.19", features = ["builtin-bindgen"], optional = true }
uniffi_bindgen = { version = "0.19", optional = true }

[dev-dependencies]
uniffi = { version = "0.19", features = ["builtin-bindgen"] }

[target.wasm32-unknown-unknown.dev-dependencies]
wasm-bindgen-test = "0.3"

[package.metadata.wasm-pack.profile.release]
wasm-opt = ["-Os", "--enable-mutable-globals", "--enable-threads", "--detect-features"]
