[workspace]
members = ["crypto", "crypto-ffi", "crypto-attributes", "keystore", "mls-provider"]
exclude = ["xtask", "extras/anycrypto", "extras/core-ds", "extras/interop"]
resolver = "2"

[patch.crates-io.rexie]
git = "https://github.com/otak/rexie"
branch = "feat/api-expansion"

[patch.crates-io.proteus]
git = "https://github.com/wireapp/proteus"
branch = "otak/sodiumoxide-0.2.7"

[patch.crates-io.openmls]
git = "https://github.com/wireapp/openmls"
tag = "v0.5.2-pre.core-crypto-0.4.2"
#tag = "v0.5.3-pre.core-crypto-0.5.0"
#branch = "feat/async"
package = "openmls"

[patch.crates-io.openmls_traits]
git = "https://github.com/wireapp/openmls"
tag = "v0.5.2-pre.core-crypto-0.4.2"
#tag = "v0.5.3-pre.core-crypto-0.5.0"
#branch = "feat/async"
package = "openmls_traits"

[patch.crates-io.hpke-rs]
git = "https://github.com/wireapp/hpke-rs"
tag = "v0.1.2"
package = "hpke-rs"

[patch.crates-io.hpke-rs-crypto]
git = "https://github.com/wireapp/hpke-rs"
tag = "v0.1.2"
package = "hpke-rs-crypto"

[patch.crates-io.hpke-rs-rust-crypto]
git = "https://github.com/wireapp/hpke-rs"
tag = "v0.1.2"
package = "hpke-rs-rust-crypto"

[patch.crates-io.rcgen]
git = "https://github.com/wireapp/rcgen"
tag = "v1.0.0-pre.core-crypto-0.3.0"

# Needed for quick mode and (later) result comparison see (https://www.tweag.io/blog/2022-03-03-criterion-rs/)
# TODO: remove once branch got merged in 0.4 release
[patch.crates-io.criterion]
git = "https://github.com/bheisler/criterion.rs"
branch = "version-0.4"

[profile.release]
lto = true
codegen-units = 1
opt-level = "s"
# panic = "abort"

# [profile.dev.package.backtrace]
# opt-level = 3
