[package]
name = "core-crypto-keystore"
version = "0.1.1"
edition = "2021"

[lib]
name = "core_crypto_keystore"
crate-type = ["lib", "cdylib"]

[[bench]]
name = "read"
harness = false

[[bench]]
name = "write"
harness = false

[features]
default = ["mls-keystore", "memory-cache"]
mls-keystore = ["openmls_traits"]
proteus-keystore = ["proteus"]
ios-wal-compat = ["security-framework", "hex"]
memory-cache = ["lru"]

[dependencies]
eyre = "0.6"
thiserror = "1.0"
uuid = "1.0.0-alpha"
lru = { version = "0.7", optional = true }
refinery = { version = "0.8", default-features = false, features = ["rusqlite"] }
barrel = { version = "0.7", features = ["sqlite3"] }

# iOS specific things
hex = { version = "0.4", optional = true }
security-framework = { version = "2.5.0-alpha", optional = true }

openmls_traits = { git = "https://github.com/openmls/openmls", optional = true }
proteus = { version = "1.0", default-features = false, optional = true }

[dependencies.rusqlite]
version = "0.26"
default-features = false
features = [
    "bundled-sqlcipher",
    "blob",
    "limits",
    "unlock_notify",
    "uuid",
]

[target.'cfg(target_family = "wasm")'.dependencies.rusqlite]
version = "0.26"
default-features = false
features = [
    "bundled-sqlcipher-vendored-openssl",
    "blob",
    "limits",
    "unlock_notify",
    "uuid",
    "wasm32-wasi-vfs"
]

[dev-dependencies]
criterion = "0.3"
openmls = { git = "https://github.com/openmls/openmls", default-features = false }
openmls_rust_crypto_provider = { git = "https://github.com/openmls/openmls", package = "openmls_rust_crypto", default-features = false }
