[package]
name = "core-crypto-keystore"
description = "Encrypted keystore with support for OpenMLS and Proteus"
repository = "https://github.com/wireapp/core-crypto"
version = "5.0.0"
edition = "2024"
license = "GPL-3.0-only"
publish = false

[lib]
name = "core_crypto_keystore"
crate-type = ["lib", "cdylib"]

[[bench]]
name = "read"
harness = false

[[bench]]
name = "write"
harness = false

[lints]
workspace = true

[features]
default = ["proteus-keystore"]
proteus-keystore = ["dep:proteus-traits"]
ios-wal-compat = [
    "dep:security-framework",
    "dep:security-framework-sys",
    "dep:core-foundation",
]
idb-regression-test = []
log-queries = ["rusqlite/trace"]
serde = ["dep:serde"]
dummy-entity = ["serde"]

[dependencies]
thiserror.workspace = true
cfg-if.workspace = true
hex.workspace = true
zeroize = { workspace = true, features = ["zeroize_derive"] }
async-trait.workspace = true
async-lock.workspace = true
postcard = { version = "1.1", default-features = false, features = ["use-std"] }
sha2.workspace = true
serde_json.workspace = true
core-crypto-macros.workspace = true

# iOS specific things
security-framework = { version = "3.2", optional = true }
security-framework-sys = { version = "2.14", optional = true }
core-foundation = { version = "0.10", optional = true }

openmls_traits = { workspace = true }
openmls_basic_credential = { workspace = true }
openmls_x509_credential = { workspace = true }
serde = { workspace = true, features = ["derive"], optional = true }
log = { workspace = true }
proteus-traits = { workspace = true, optional = true }
itertools.workspace = true

[target.'cfg(not(target_family = "wasm"))'.dependencies]
async-fs = "2.1"
blocking = "1.6"

[target.'cfg(not(target_family = "wasm"))'.dependencies.rusqlite]
version = "0.31"
default-features = false
features = [
    "bundled-sqlcipher-vendored-openssl",
    "blob",
    "limits",
    "unlock_notify",
    "uuid",
    "functions",
]

[target.'cfg(not(target_family = "wasm"))'.dependencies.refinery]
version = "0.8"
default-features = false
features = ["rusqlite"]

[target.'cfg(target_family = "wasm")'.dependencies]
idb.workspace = true
js-sys = "0.3"
web-sys = { version = "0.3", features = ["console"] }
wasm-bindgen = "0.2"
serde = { workspace = true, features = ["derive"] }
serde-big-array = "0.5"
serde-wasm-bindgen = "0.6"
# Async WASM stuff
wasm-bindgen-futures = "0.4"
# Crypto stuff
aes-gcm = "0.10"
rand.workspace = true
getrandom = { version = "0.2", features = ["js"] }
web-time = "1.1.0"
# Old keystore versions for idb migrations
rexie.workspace = true


[dev-dependencies]
serde = { version = "1.0", features = ["derive"] }
wasm-bindgen-test = "0.3"
uuid = { workspace = true, features = ["v4", "js"] }
rand = { workspace = true, features = ["getrandom"] }
getrandom = { version = "0.2", features = ["js"] }
openmls = { workspace = true, features = ["crypto-subtle"] }
mls-crypto-provider.workspace = true
rstest = "0.24"
rstest_reuse = "0.7"
async-std = { workspace = true, features = ["attributes"] }
futures-lite = "2.6"
core-crypto-keystore = { path = ".", features = [
    "idb-regression-test",
    "log-queries",
] }
env_logger = "0.11"
proteus-wasm = { workspace = true }

[target.'cfg(not(target_family = "wasm"))'.dev-dependencies.criterion]
version = "0.5"
features = ["async_futures", "html_reports"]

[package.metadata.wasm-pack.profile.release]
wasm-opt = [
    "-Os",
    "--enable-mutable-globals",
    "--enable-threads",
    "--detect-features",
]
