[env]
# Android build flags
CC_armv7-linux-androideabi = "armv7a-linux-androideabi30-clang"
CXX_armv7-linux-androideabi = "armv7a-linux-androideabi30-clang++"
AR_armv7-linux-androideabi = "llvm-ar"
CC_aarch64-linux-android = "aarch64-linux-android30-clang"
CXX_aarch64-linux-android = "aarch64-linux-android30-clang++"
AR_aarch64-linux-android = "llvm-ar"
CC_x86_64-linux-android = "x86_64-linux-android30-clang"
CXX_x86_64-linux-android = "x86_64-linux-android30-clang++"
AR_x86_64-linux-android = "llvm-ar"
CC_i686-linux-android = "i686-linux-android30-clang"
CXX_i686-linux-android = "i686-linux-android30-clang++"
AR_i686-linux-android = "llvm-ar"
# ? Ring treats warnings as errors during local development by detecting
# ? the presence of a `.git` folder
# ? With us having a git dependency to ring, this triggers this local development behavior, preventing
# ? release builds on certain platforms. Gotta love build systems that are "UB as a service"
# TODO: Remove this once we target a crates.io version of ring. Probably never!
CFLAGS="-Wno-error=inline"

[unstable]
build-std = ["std", "panic_abort"]

[alias]
xtask = "run --manifest-path ./xtask/Cargo.toml --"

[target.wasm32-unknown-unknown]
runner = [
    "cargo", "run",
    "--bin", "wasm-browser-test-runner",
    "--manifest-path", "../extras/wasm-browser-test-runner/Cargo.toml",
    "--",
    "--webdriver=chrome",
    "--no-bidi",
    "--timeout=600"
]
# rustflags = "-C target-feature=+atomics,+bulk-memory,+mutable-globals"

# Android linkage
[target.armv7-linux-androideabi]
ar = "llvm-ar"
linker = "armv7a-linux-androideabi30-clang"
# ? Doesn't work with NDK r21. But will be needed for Rust 1.66 and NDK 25.
# rustflags = [
#     "-C", "link-args=-Lsupport/android"
# ]

[target.aarch64-linux-android]
ar = "llvm-ar"
linker = "aarch64-linux-android30-clang"
# ? Doesn't work with NDK r21. But will be needed for Rust 1.66 and NDK 25.
# rustflags = [
#     "-C", "link-args=-Lsupport/android"
# ]

[target.x86_64-linux-android]
ar = "llvm-ar"
linker = "x86_64-linux-android30-clang"
# ? Doesn't work with NDK r21. But will be needed for Rust 1.66 and NDK 25.
# rustflags = [
#     "-C", "link-args=-Lsupport/android"
# ]

[target.i686-linux-android]
ar = "llvm-ar"
linker = "i686-linux-android30-clang"
# ? Doesn't work with NDK r21. But will be needed for Rust 1.66 and NDK 25.
# rustflags = [
#     "-C", "link-args=-Lsupport/android"
# ]
