[package]
name = "core-crypto"
version = "0.2.0"
edition = "2021"
license = "GPL-3.0-only"

[lib]
name = "core_crypto"
crate-type = ["lib", "cdylib"]

[dependencies]
eyre = "0.6"
thiserror = "1.0"
uuid = { version = "1.0.0-alpha", features = ["v5"] }
derive_builder = "0.11"
hex = "0.4"

openmls = "0.4"
openmls_traits = "0.1"
# FIXME: This is being pulled only because of flaky error types from openmls
tls_codec = "0.2"

[dependencies.core-crypto-keystore]
version = "0.2"
path = "../keystore"

[dependencies.mls-crypto-provider]
version = "0.2"
path = "../mls-provider"

[dev-dependencies]
uuid = { version = "1.0.0-alpha", features = ["v4", "v5"] }
rand = "0.8"
tempfile = "3.3.0"