[package]
name = "core-crypto"
description = "Abstraction over OpenMLS with persistent keystore"
repository = "https://github.com/wireapp/core-crypto"
version = "1.0.0-pre.3"
edition = "2021"
license = "GPL-3.0-only"
publish = false

[lib]
name = "core_crypto"
crate-type = ["lib", "cdylib"]

[features]
default = ["proteus", "cryptobox-migrate"]
proteus = ["dep:proteus-wasm", "dep:proteus-traits", "core-crypto-keystore/proteus-keystore"]
cryptobox-migrate = ["proteus", "proteus-wasm?/cryptobox-identity", "dep:async-fs", "dep:futures-lite", "dep:rexie", "dep:base64"]
# for test/bench all ciphersuites
test-all-cipher = []
# execute benches with also real db to better see overhead
bench-in-db = []

[dependencies]
thiserror = "1.0"
derive_more = { version = "0.99", features = ["from", "into", "deref"] }
strum = { version = "0.24", features = ["derive"] }
cfg-if = "1.0"
hex = "0.4"
futures-util = "0.3"

openmls = { version = "0.20", features = ["crypto-subtle"] }
openmls_basic_credential = "0.1"
openmls_x509_credential = "0.1"
openmls_traits = "0.1"
# FIXME: This is being pulled only because of flaky error types from openmls
tls_codec = { workspace = true }
serde = "1.0"
serde_json = "1.0"
url = "2.3"
async-trait = "0.1"
async-lock = "2.6"
schnellru = "0.2"
zeroize = "1.5"
wire-e2e-identity = { version = "0.4", default-features = false }

[dependencies.proteus-wasm]
version = "2.0"
features = ["hazmat"]
optional = true
git = "https://github.com/wireapp/proteus"
branch = "otak/2.0-error-codes"

[dependencies.proteus-traits]
optional = true
version = "2.0"

[target.'cfg(not(target_family = "wasm"))'.dependencies]
sysinfo = { version = "0.29", default-features = false, features = ["apple-app-store"] }
async-fs = { version = "1.6", optional = true }
futures-lite = { version = "1.12", optional = true }

[target.'cfg(target_family = "wasm")'.dependencies]
serde-wasm-bindgen = "0.5"
rexie = { version = "0.4", optional = true }
base64 = { version = "0.21", optional = true }

[target.'cfg(not(target_os = "ios"))'.dependencies]
core-crypto-keystore = { version = "^1.0.0-pre.3", path = "../keystore" }

[target.'cfg(target_os = "ios")'.dependencies]
core-crypto-keystore = { version = "^1.0.0-pre.3", path = "../keystore", features = ["ios-wal-compat"] }

[dependencies.mls-crypto-provider]
version = "^1.0.0-pre.3"
path = "../mls-provider"

[dev-dependencies]
itertools = "0.10"
uuid = { version = "1.0", features = ["v4", "v5"] }
rand = "0.8"
tempfile = "3.3"
wasm-bindgen = "0.2"
wasm-bindgen-futures = "0.4"
wasm-bindgen-test = "0.3"
js-sys = "0.3"
rstest = "0.17"
rstest_reuse = "0.5"
async-std = { version = "1.12", features = ["attributes"] }
futures-util = { version = "0.3", features = ["std", "alloc"] }
futures-lite = "1.12"
proteus-traits = "2.0"
async-trait = "0.1"
wire-e2e-identity = { version = "0.4", features = ["identity-builder"] }
fluvio-wasm-timer = "0.2"

[dev-dependencies.core-crypto-keystore]
version = "^1.0.0-pre.3"
path = "../keystore"
features = ["dummy-entity"]

[target.'cfg(not(target_family = "wasm"))'.dev-dependencies]
cryptobox = { git = "https://github.com/wireapp/cryptobox", tag = "v1.0.3" }
proteus = { git = "https://github.com/wireapp//proteus", branch = "otak/fix-1.0.3" }

[target.'cfg(not(target_family = "wasm"))'.dev-dependencies.criterion]
version = "0.4"
features = ["async_futures", "html_reports"]

[dev-dependencies.core-crypto-attributes]
version = "^1.0.0-pre.3"
path = "../crypto-attributes"

[package.metadata.wasm-pack.profile.release]
wasm-opt = ["-Os", "--enable-mutable-globals", "--enable-threads", "--detect-features"]

[[bench]]
name = "key_package"
harness = false

[[bench]]
name = "proposal"
harness = false

[[bench]]
name = "group_info"
harness = false

[[bench]]
name = "commit"
harness = false

[[bench]]
name = "encryption"
harness = false

[[bench]]
name = "create_group"
harness = false

[[bench]]
name = "mls_proteus"
harness = false
