concurrency:
  group: "${{ github.workflow }}-${{ github.ref }}-build-ios"
  cancel-in-progress: true

on:
  workflow_call:

defaults:
  run:
    shell: bash -euo pipefail {0}

env:
  CARGO_TERM_COLOR: always
  CARGO_NET_GIT_FETCH_WITH_CLI: true
  CARGO_REGISTRIES_CRATES_IO_PROTOCOL: sparse
  RELEASE: 1

jobs:
  build-ios:
    if: github.repository == 'wireapp/core-crypto'
    runs-on: self-hosted
    strategy:
      matrix:
        include:
          - task: ios-device
          - task: ios-simulator-arm
    steps:
      - uses: actions/checkout@v6

      - name: build ${{ matrix.task }}
        uses: ./.github/actions/make/ios
        with:
          gh-token: ${{ secrets.GITHUB_TOKEN }}
          task: ${{ matrix.task }}
