concurrency:
  group: "${{ github.workflow }}-${{ github.ref }}-build-android"
  cancel-in-progress: true

on:
  workflow_call:

env:
  CARGO_TERM_COLOR: always
  CARGO_NET_GIT_FETCH_WITH_CLI: true
  CARGO_REGISTRIES_CRATES_IO_PROTOCOL: sparse
  RELEASE: 1

jobs:
  build-android:
    if: github.event_name == 'pull_request' || github.ref_type == 'tag'
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - task: android-armv7
            target: armv7-linux-androideabi
          - task: android-armv8
            target: aarch64-linux-android
          - task: android-x86
            target: x86_64-linux-android
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup-and-cache-rust
        with:
          target: ${{ matrix.target }}

      - name: setup android sdk
        uses: android-actions/setup-android@v3
        with:
          # Don't download unnecessary packages.
          # We only need sdkmanager for the next step.
          packages: ''

      - name: install ndk and set up environment
        run: |
          ndk_version=$(cat crypto-ffi/bindings/android/ndk.version)
          echo "y" | sdkmanager --install "ndk;$ndk_version"
          echo ANDROID_NDK_HOME=$ANDROID_HOME/ndk/$ndk_version >> $GITHUB_ENV

      - name: build android lib
        uses: ./.github/actions/make/android/lib
        with:
          gh-token: ${{ secrets.GITHUB_TOKEN }}
          task: ${{ matrix.task }}
