concurrency:
  group: "${{ github.workflow }}-${{ github.ref }}-deploy-docs"
  cancel-in-progress: true

on:
  workflow_call:

env:
  RELEASE: 1

jobs:
  deploy-docs:
    if: github.repository == 'wireapp/core-crypto' && (github.ref == 'refs/heads/main' || (github.ref_type == 'tag' && startsWith(github.ref_name, 'v')))
    runs-on: ubuntu-latest

    env:
      GIT_TAG: ${{ github.ref_type == 'tag' && github.ref_name || 'main' }}

    steps:
    - name: checkout repository
      uses: actions/checkout@v6

    - name: download pre-rendered docs
      uses: actions/download-artifact@v6
      with:
        pattern: '{typescript,swift,kotlin,rust}'
        path: "./target/doc/${{ env.GIT_TAG }}"
        merge-multiple: false

    - name: copy static files
      run: |
        cp docs/*.md target/doc/

    - name: deploy docs
      uses: peaceiris/actions-gh-pages@v4
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_branch: gh-pages
        publish_dir: target/doc
        keep_files: true
        force_orphan: false
        enable_jekyll: true
