concurrency:
  group: "${{ github.workflow }}-${{ github.ref }}-docs-swift"
  cancel-in-progress: true

on:
  workflow_call:

defaults:
  run:
    shell: bash -euo pipefail {0}

env:
  RELEASE: 1

jobs:
  docs-swift:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v6

      # This is only needed because of our composite actions calling gmake on ios
      # to support our local runners without bash configs.
      - name: Install gmake
        run: brew install make

      - name: download swift bindings
        uses: ./.github/actions/make/bindings-swift
        with:
          gh-token: ${{ secrets.GITHUB_TOKEN }}

      - name: download artifacts for ios device
        uses: ./.github/actions/make/ios
        with:
          gh-token: ${{ secrets.GITHUB_TOKEN }}

          task: ios-device
      - name: download artifacts for ios simulator
        uses: ./.github/actions/make/ios
        with:
          gh-token: ${{ secrets.GITHUB_TOKEN }}
          task: ios-simulator-arm

      - name: setup Xcode
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: '16.4.0'
      - name: Set up Ruby environment
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.3'

      - name: install jazzy
        run: gem install jazzy

      - uses: swift-actions/setup-swift@v2.4.0
        with:
          swift-version: "6.0"

      - name: swift docs
        run: |
          mkdir -p target/doc/core_crypto_ffi/bindings/swift
          cd crypto-ffi/bindings/swift/WireCoreCrypto
          jazzy \
          	  --modules WireCoreCrypto,WireCoreCryptoUniffi \
          	  --build-tool-arguments -project,WireCoreCrypto.xcodeproj,-scheme,WireCoreCrypto,-configuration,Release \
          	  -o ../../../../target/swift/doc

      - uses: actions/upload-artifact@v5.0.0
        with:
          name: swift
          path: target/swift/doc
          retention-days: 1
          overwrite: true
          include-hidden-files: true
          if-no-files-found: error
