name: Publish docs

concurrency:
  group: "${{ github.workflow }}-${{ github.ref }}"

on:
  push:
    branches:
    - main

env:
  CARGO_INCREMENTAL: 0
  CARGO_NET_RETRY: 10
  RUSTUP_MAX_RETRIES: 10
  CARGO_TERM_COLOR: always
  CARGO_NET_GIT_FETCH_WITH_CLI: true
  CARGO_REGISTRIES_CRATES_IO_PROTOCOL: sparse

jobs:
  docgen:
    if: github.repository == 'wireapp/core-crypto'
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - uses: actions-rust-lang/setup-rust-toolchain@v1  # this implicitly caches Rust tools and build artifacts
      with:
        rustflags: ''
        target: |
          wasm32-unknown-unknown
          x86_64-unknown-linux-gnu

    - name: Setup cargo-make
      uses: davidB/rust-cargo-make@v1

    - name: Install wasm-pack
      uses: taiki-e/install-action@v2
      with:
        tool: wasm-pack

    - name: Build Rust documentation
      run: cargo doc --all --no-deps

    - name: Setup bun
      uses: oven-sh/setup-bun@v2
      with:
        bun-version: latest

    - name: Build TypeScript and Kotlin docs
      run: |
        cd crypto-ffi
        cargo make docs-ts
        cargo make docs-kotlin

    - name: Deploy Docs
      uses: peaceiris/actions-gh-pages@v4
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_branch: gh-pages
        publish_dir: ./target/doc
        force_orphan: true
