concurrency:
  group: "${{ github.workflow }}-${{ github.ref }}-docs-ts"
  cancel-in-progress: true

on:
  workflow_call:

env:
  RELEASE: 1

jobs:
  docs-ts:
    runs-on: ubuntu-latest

    steps:
    - name: checkout repository
      uses: actions/checkout@v6

    - name: setup bun
      uses: oven-sh/setup-bun@v2
      with:
        bun-version: latest

    - name: download web files
      uses: ./.github/actions/make/web/ts
      with:
        gh-token: ${{ secrets.GITHUB_TOKEN }}

    - name: make ts docs
      run: make docs-ts

    - uses: actions/upload-artifact@v5.0.0
      with:
        name: typescript
        path: target/typescript/doc
        retention-days: 1
        overwrite: true
        include-hidden-files: true
        if-no-files-found: error
