name: Publish docs

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}

on:
  push:
    branches:
    - main

env:
  CARGO_INCREMENTAL: 0
  CARGO_NET_RETRY: 10
  RUSTUP_MAX_RETRIES: 10
  CARGO_TERM_COLOR: always
  CARGO_NET_GIT_FETCH_WITH_CLI: true
  CARGO_REGISTRIES_CRATES_IO_PROTOCOL: sparse
  SCCACHE_GHA_ENABLED: "true"
  RUSTC_WRAPPER: "sccache"

jobs:
  docgen:
    if: github.repository == 'wireapp/core-crypto'
    runs-on: ubuntu-latest

    steps: 
    - name: Checkout repository
      uses: actions/checkout@v4

    - uses: actions-rust-lang/setup-rust-toolchain@v1
      with:
        rustflags: ''
        target: wasm32-unknown-unknown

    - name: Run sccache-cache
      uses: mozilla-actions/sccache-action@v0.0.5

    - name: Setup cargo-make
      uses: davidB/rust-cargo-make@v1

    - name: Install wasm-pack
      uses: jetli/wasm-pack-action@v0.4.0
      with:
        version: 'latest'

    - name: Build Rust documentation
      run: cargo doc --all --no-deps

    - name: Build TypeScript docs
      run: |
        cd crypto-ffi
        cargo make wasm-build
        cargo make docs-ts
        cargo make docs-kotlin

    - name: Deploy Docs
      uses: peaceiris/actions-gh-pages@v4
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_branch: gh-pages
        publish_dir: ./target/doc
        force_orphan: true
