concurrency:
  group: "${{ github.workflow }}-${{ github.ref }}-interop"
  cancel-in-progress: true

on:
  workflow_call:
  workflow_dispatch:

env:
  RELEASE: 1

jobs:
  e2e-interop-test:
    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v6
      - name: set up jdk 17
        uses: actions/setup-java@v5
        with:
          java-version: "17"
          distribution: "adopt"
      - name: gradle setup
        uses: gradle/actions/setup-gradle@v5
      - name: validate gradle wrapper
        uses: gradle/actions/wrapper-validation@v5
      - name: Setup Android SDK
        uses: android-actions/setup-android@v3
      - name: set ndk_home
        run: |
          ndk_version=$(cat crypto-ffi/bindings/android/ndk.version)
          ANDROID_NDK_HOME="$ANDROID_HOME/ndk/$ndk_version"
          echo "ANDROID_NDK_HOME=$ANDROID_NDK_HOME" >> $GITHUB_ENV
          if [ ! -d "$ANDROID_NDK_HOME" ]; then
            echo "::warning file=.github/workflows/interop.yml,title=ANDROID_NDK_HOME does not exist::$ANDROID_NDK_HOME is not a directory"
          fi
      - name: setup Xcode
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: '16.4.0'
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
      - name: Install chrome-headless-shell
        run: |
          bun x @puppeteer/browsers install chrome-headless-shell@latest --path $PWD
          echo "CHROME_PATH=$(echo $PWD/chrome-headless-shell/*/*/chrome-headless-shell)" >> $GITHUB_ENV

      - name: Install chromedriver
        run: |
          bun x @puppeteer/browsers install chromedriver@latest --path $PWD
          echo "CHROMEDRIVER_PATH=$(echo $PWD/chromedriver/*/*/chromedriver)" >> $GITHUB_ENV

      - name: Run e2e interop test
        uses: ./.github/actions/make/interop/test
        with:
          always-run: ${{ github.event_name == 'workflow_dispatch' || github.ref_name == 'main' }}
          gh-token: ${{ secrets.GITHUB_TOKEN }}

        # we separate shutdown from deletion to make sure the device is always removed, even when shutdown failed
      - name: delete ios simulator and kill android emulator
        if: always()
        run: |
          xcrun simctl delete all
