name: kotlin

concurrency:
  group: "${{ github.workflow }}-${{ github.ref }}"
  cancel-in-progress: true

on:
  push:
    tags:
      - '*'
  pull_request:

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: ktlint
        run: |
          curl -sSLO https://github.com/pinterest/ktlint/releases/download/1.5.0/ktlint
          chmod a+x ktlint
          ./ktlint
