concurrency:
  group: "${{ github.workflow }}-${{ github.ref }}-package-android"
  cancel-in-progress: true

on:
  workflow_call:

env:
  RELEASE: 1

jobs:
  package-android:
    if: github.event_name == 'pull_request' || github.ref_type == 'tag'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: set up jdk 17
        uses: actions/setup-java@v5
        with:
          java-version: "17"
          distribution: "adopt"
      - name: gradle setup
        uses: gradle/actions/setup-gradle@v5
      - name: validate gradle wrapper
        uses: gradle/actions/wrapper-validation@v5
      - name: setup android sdk
        uses: android-actions/setup-android@v3
      - name: install ndk and set up environment
        run: |
          ndk_version=$(cat crypto-ffi/bindings/android/ndk.version)
          echo "y" | sdkmanager --install "ndk;$ndk_version"
          echo ANDROID_NDK_HOME=$ANDROID_HOME/ndk/$ndk_version >> $GITHUB_ENV
      - uses: ./.github/actions/make/android/package
        with:
          gh-token: ${{ secrets.GITHUB_TOKEN }}
