name: Publish Android packages

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}

on:
  push:
    tags:
      - "**"

env:
  CARGO_INCREMENTAL: 0
  CARGO_NET_RETRY: 10
  RUSTUP_MAX_RETRIES: 10
  CARGO_TERM_COLOR: always
  CARGO_NET_GIT_FETCH_WITH_CLI: true
  CARGO_REGISTRIES_CRATES_IO_PROTOCOL: sparse
  SCCACHE_GHA_ENABLED: "true"
  RUSTC_WRAPPER: "sccache"

jobs:
  publish-android:
    if: github.repository == 'wireapp/core-crypto'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: "17"
          distribution: "adopt"
      - name: Gradle Setup
        uses: gradle/actions/setup-gradle@v3
      - name: Validate Gradle wrapper
        uses: gradle/actions/wrapper-validation@v3
      - name: "Setup rust"
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          rustflags: ''
          target: "armv7-linux-androideabi,aarch64-linux-android,x86_64-linux-android,i686-linux-android"
      - name: Run sccache-cache
        uses: mozilla-actions/sccache-action@v0.0.4
      - name: Setup cargo-make
        uses: davidB/rust-cargo-make@v1
      - name: Setup Android SDK
        uses: android-actions/setup-android@v3
      - name: Install NDK 25
        run: echo "y" | sdkmanager --install "ndk;25.2.9519653"
      - name: Build Android package
        env:
          ANDROID_NDK_HOME: /usr/local/lib/android/sdk/ndk/25.2.9519653
        run: |
          cd crypto-ffi
          cargo make android
      - name: Publish package
        run: |
          cd crypto-ffi/bindings
          ./gradlew android:publishAllPublicationsToMavenCentral --no-configuration-cache
        env:
          ORG_GRADLE_PROJECT_mavenCentralPassword: ${{ secrets.SONATYPE_PASSWORD }}
          ORG_GRADLE_PROJECT_mavenCentralUsername: ${{ secrets.SONATYPE_USERNAME }}
          ORG_GRADLE_PROJECT_signingInMemoryKeyId: ${{ secrets.PGP_KEY_ID }}
          ORG_GRADLE_PROJECT_signingInMemoryKey: ${{ secrets.PGP_SIGNING_KEY }}
          ORG_GRADLE_PROJECT_signingInMemoryKeyPassword: ${{ secrets.PGP_PASSPHRASE }}
