name: publish android packages

concurrency:
  group: "${{ github.workflow }}-${{ github.ref }}"

on:
  push:
    tags:
      - "**"

env:
  CARGO_INCREMENTAL: 0
  CARGO_NET_RETRY: 10
  RUSTUP_MAX_RETRIES: 10
  CARGO_TERM_COLOR: always
  CARGO_NET_GIT_FETCH_WITH_CLI: true
  CARGO_REGISTRIES_CRATES_IO_PROTOCOL: sparse

jobs:
  build-android:
    uses: ./.github/workflows/build-android.yml

  publish-android:
    if: github.repository == 'wireapp/core-crypto'
    runs-on: ubuntu-latest
    needs: build-android
    steps:
      - uses: actions/checkout@v4
      - name: force-fetch the tag to work around actions/checkout#290
        run: git fetch -f origin ${{ github.ref }}:${{ github.ref }}
      - name: ensure the tag is signed
        run: git cat-file tag ${{ github.ref_name }} | grep -q -- '-----BEGIN PGP SIGNATURE-----'
      - name: set up jdk 17
        uses: actions/setup-java@v4
        with:
          java-version: "17"
          distribution: "adopt"
      - name: gradle setup
        uses: gradle/actions/setup-gradle@v4
      - name: validate gradle wrapper
        uses: gradle/actions/wrapper-validation@v4
      - name: setup android sdk
        uses: android-actions/setup-android@v3
      - name: install ndk 25
        run: echo "y" | sdkmanager --install "ndk;25.2.9519653"
      - uses: actions/download-artifact@v4
        with:
          name: android-target-${{ github.run_id }}
          path: target
      - uses: actions/download-artifact@v4
        with:
          name: android-${{ github.run_id }}
          path: crypto-ffi/bindings
      - name: publish package
        run: |
          cd crypto-ffi/bindings
          ./gradlew uniffi-android:publishAllPublicationsToMavenCentral --no-configuration-cache
          ./gradlew android:publishAllPublicationsToMavenCentral --no-configuration-cache
        env:
          ORG_GRADLE_PROJECT_mavenCentralPassword: ${{ secrets.SONATYPE_PASSWORD }}
          ORG_GRADLE_PROJECT_mavenCentralUsername: ${{ secrets.SONATYPE_USERNAME }}
          ORG_GRADLE_PROJECT_signingInMemoryKeyId: ${{ secrets.PGP_KEY_ID }}
          ORG_GRADLE_PROJECT_signingInMemoryKey: ${{ secrets.PGP_SIGNING_KEY }}
          ORG_GRADLE_PROJECT_signingInMemoryKeyPassword: ${{ secrets.PGP_PASSPHRASE }}
