name: publish node packages

concurrency:
  group: "${{ github.workflow }}-${{ github.ref }}-publish-wasm"

on:
  workflow_call:

env:
  RELEASE: 1

jobs:
  publish-wasm:
    if: github.repository == 'wireapp/core-crypto'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Setup Node for npm publish
        uses: actions/setup-node@v6

      - name: download ts artifacts
        uses: ./.github/actions/make/web/ts
        with:
          gh-token: ${{ secrets.GITHUB_TOKEN }}

      - name: package tarball
        id: package
        run: |
          filename=$(make web-package | tail -n 1)
          echo "filename=$filename" >> "$GITHUB_OUTPUT"
          echo "path=crypto-ffi/bindings/js/$filename" >> "$GITHUB_OUTPUT"

      - name: upload artifacts
        uses: softprops/action-gh-release@v2
        with:
          files: "${{ steps.package.outputs.path }}"
          fail_on_unmatched_files: true

      - name: publish package to npm (Trusted Publishers)
        run: |
          cd crypto-ffi/bindings/js
          npm publish "./${{ steps.package.outputs.filename }}"

      - name: delete package from gh release
        run: gh release delete-asset $GITHUB_REF_NAME "${{ steps.package.outputs.filename }}" --yes
        env:
          GH_TOKEN: ${{ github.token }}
