name: publish android packages

concurrency:
  group: "${{ github.workflow }}-${{ github.ref }}-publish-android"

on:
  workflow_call:
    secrets:
      SONATYPE_USERNAME:
        required: true
      SONATYPE_PASSWORD:
        required: true
      PGP_KEY_ID:
        required: true
      PGP_SIGNING_KEY:
        required: true
      PGP_PASSPHRASE:
        required: true
    inputs:
        prepare:
          description: "If true, stage and validate artifacts."
          required: false
          type: boolean
          default: false
        release:
          description: "If true, release staged artifacts."
          required: false
          type: boolean
          default: false

env:
  RELEASE: 1

jobs:
  android:
    if: github.repository == 'wireapp/core-crypto'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: set up jdk 17
        uses: actions/setup-java@v5
        with:
          java-version: "17"
          distribution: "adopt"
      - name: gradle setup
        uses: gradle/actions/setup-gradle@v5
      - name: validate gradle wrapper
        uses: gradle/actions/wrapper-validation@v5
      - name: setup android sdk
        uses: android-actions/setup-android@v3
      - uses: ./.github/actions/make/android/package
        with:
          gh-token: ${{ secrets.GITHUB_TOKEN }}

      - name: zip package and bindings
        run: |
          zip -r android.zip \
          target/armv7-linux-androideabi/release/libcore_crypto_ffi.a \
          target/armv7-linux-androideabi/release/libcore_crypto_ffi.so \
          target/aarch64-linux-android/release/libcore_crypto_ffi.a \
          target/aarch64-linux-android/release/libcore_crypto_ffi.so \
          target/x86_64-linux-android/release/libcore_crypto_ffi.a \
          target/x86_64-linux-android/release/libcore_crypto_ffi.so \
          crypto-ffi/bindings/android/build/outputs/aar/android-release.aar \
          crypto-ffi/bindings/android/src/main/uniffi/com/wire/crypto/core_crypto_ffi.kt

      - name: upload package
        uses: softprops/action-gh-release@v2
        with:
            files: android.zip
            fail_on_unmatched_files: true

      - name: stage artifact
        if: ${{ inputs.prepare == true }}
        run: |
          cd crypto-ffi/bindings
          ./gradlew :android:publishToSonatype closeSonatypeStagingRepository --no-configuration-cache
        env:
          ORG_GRADLE_PROJECT_mavenCentralPassword: ${{ secrets.SONATYPE_PASSWORD }}
          ORG_GRADLE_PROJECT_mavenCentralUsername: ${{ secrets.SONATYPE_USERNAME }}
          ORG_GRADLE_PROJECT_signingInMemoryKeyId: ${{ secrets.PGP_KEY_ID }}
          ORG_GRADLE_PROJECT_signingInMemoryKey: ${{ secrets.PGP_SIGNING_KEY }}
          ORG_GRADLE_PROJECT_signingInMemoryKeyPassword: ${{ secrets.PGP_PASSPHRASE }}

      - name: release artifact
        if: ${{ inputs.release == true }}
        run: |
          cd crypto-ffi/bindings
          ./gradlew :android:releaseSonatypeStagingRepository --no-configuration-cache
        env:
          ORG_GRADLE_PROJECT_mavenCentralPassword: ${{ secrets.SONATYPE_PASSWORD }}
          ORG_GRADLE_PROJECT_mavenCentralUsername: ${{ secrets.SONATYPE_USERNAME }}
          ORG_GRADLE_PROJECT_signingInMemoryKeyId: ${{ secrets.PGP_KEY_ID }}
          ORG_GRADLE_PROJECT_signingInMemoryKey: ${{ secrets.PGP_SIGNING_KEY }}
          ORG_GRADLE_PROJECT_signingInMemoryKeyPassword: ${{ secrets.PGP_PASSPHRASE }}

      - name: delete package from gh release
        if: ${{ inputs.release == true }}
        run: gh release delete-asset $GITHUB_REF_NAME "android.zip" --yes
        env:
          GH_TOKEN: ${{ github.token }}
