concurrency:
  group: "${{ github.workflow }}-${{ github.ref }}-test-ios"
  cancel-in-progress: true

on:
  workflow_call:
  workflow_dispatch:

defaults:
  run:
    shell: bash -euo pipefail {0}

env:
  RELEASE: 1

jobs:
  test-ios:
    if: github.repository == 'wireapp/core-crypto'
    runs-on: self-hosted
    steps:
      - name: Cleanup on post
        uses: gacts/run-and-post-run@v1
        with:
            post: |
              sh ./scripts/clean.sh
      - uses: actions/checkout@v6

      - name: setup Xcode
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: '16.4.0'

      - name: Install swiftlint
        env:
          HOMEBREW_NO_AUTO_UPDATE: 1
          HOMEBREW_NO_INSTALL_UPGRADE: 1
        run: |
          brew install swiftlint

      - name: Format-check and lint
        run: |
          make swift-check

      - name: ios tests
        uses: ./.github/actions/make/ios/test
        with:
          always-run: ${{ github.event_name == 'workflow_dispatch' || github.ref_name == 'main' }}
          gh-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Delete simulator
        if: always()
        run: |
          ./scripts/delete-ios-sim-device.sh ${{ env.SIMULATOR }}
