concurrency:
  group: "${{ github.workflow }}-${{ github.ref }}-test-android"
  cancel-in-progress: true

on:
  workflow_call:

env:
  RELEASE: 1

jobs:
  test-android:
    if: github.event_name == 'pull_request'
    runs-on: ubuntu-latest

    env:
      ANDROID_NDK_VERSION: 28.1.13356709

    steps:
      - uses: actions/checkout@v6
      - name: set up jdk 17
        uses: actions/setup-java@v5
        with:
          java-version: "17"
          distribution: "adopt"
      - name: gradle setup
        uses: gradle/actions/setup-gradle@v5
      - name: validate gradle wrapper
        uses: gradle/actions/wrapper-validation@v5
      - name: enable kvm group perms
        run: |
          echo 'KERNEL=="kvm", GROUP="kvm", MODE="0666", OPTIONS+="static_node=kvm"' | sudo tee /etc/udev/rules.d/99-kvm4all.rules
          sudo udevadm control --reload-rules
          sudo udevadm trigger --name-match=kvm

      - name: download android package
        uses: ./.github/actions/make/android/package
        with:
          gh-token: ${{ secrets.GITHUB_TOKEN }}

      - name: android instrumentation tests
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: 32
          arch: x86_64
          working-directory: ./crypto-ffi/bindings
          script: ./gradlew android:connectedAndroidTest

